[workspace]
members = [
    "server",
    "client/example_wasm",
    "shared",
]

resolver = "3"

[workspace.package]
version = "0.1.0"
edition = "2024"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[profile.release]
codegen-units = 1
lto = "thin"

